*{
    margin:0;
    padding:0;
}
h1{
    text-align:center;
}
body{
    background-color:cadetblue;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:20px;
    border:none;
    font-size:8vmin;
    color:rgb(174, 0, 0);
    background-color:#ffffc7;
}
#reset-btn{
    padding:10px;
    font-size:15px;
    border-radius:5px;
    background-color:black;
    color:white;

}
#new-btn{
    padding:10px;
    font-size:15px;
    border-radius:5px;
    background-color:black;
    color:white;
}
#msg{
    color:#ffffc7;
    font-size:8vmin;
}
.msg-container{
    height:30vmin;
}
.hide{
    display:none;
}